* {
  font-family: Georgia, "Times New Roman", Times, serif;
  /* border: 2px solid red; */
}

body.frontpage {
  background-color: bisque;
}
body.lasagnarecipe {
  background-color: rgb(191, 154, 201);
}
body.hamburgerrecipe {
  background-color: rgb(84, 82, 197);
}
h1.banner {
  color: rgb(65, 153, 42);
  text-align: center;
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
  background-color: rgb(15, 240, 240);
  border-style: solid;
  border-width: 10px;
  flex-direction: row;
  justify-content: center;
  gap: 8px;
}
.flex-container div {
  color: rgb(158, 40, 187);
  background: rgb(243, 209, 116);
  border: 10px solid rgb(236, 30, 58);
  height: 50px;
  width: 10px;
  flex: 1 1 0%;
}
p {
  color: rgb(165, 111, 41);
}

.fooddisplay {
  /* opacity: 10%; */
  margin: 0 20em auto;
  height: auto;
  width: 900px;
  border-style: ridge;
  border-radius: 40px;
  border-color: cadetblue;
}
